
        .menu {
            background-color: rgba(115, 33, 139, 0.849);
            /* height: 60px; */
            padding: 0 8% ;

        }
.star li{
display: inline-block;
}
.star li a{
    display: inline-block;
    padding: 40px;
    }
    .star li a:hover{
        color: rgb(255, 255, 255);
        background-color: blueviolet;
        }
        .header {
            /* background-color: rgba(163, 113, 161, 0.418); */
            height: 400px;
            padding: 10px 8% 10px 8%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(219, 200, 243);
        }


        .part1 {}

        .galery {
            display: flex;
            flex-wrap: wrap;
            /* gap: 10px; */
            row-gap: 70px;
            column-gap: 60px;
            justify-content: center;
        }

        .kard {
            background-color: rgb(35, 18, 223);
            width: 200px;
            height: 300px;


        }

        .kardimg {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }

        .parts {
            /* background-color: rgb(196, 205, 221); */
            min-height: 200px;
            padding: 50px 8% 50px 8%;


        }
.part2{
    display: flex;
    gap:50px ;
    color: rgb(209, 183, 233);
    align-items: center;
}
        .footer {
            background-color: rgb(0, 0, 0);
            height: 100px;
        }

        .bg {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
         z-index: -1;
        }
        .gfr{
            column-count: 3;
            column-gap: 19px;
        }
        .rt{
            width: 100px;
            height: 200px;
            float: left;
        }
        .footer{
            background-color: cornsilk;
            padding: 30px 30px;
            margin: 50px;
            display: flex;
            justify-content: space-between;
        }
        a{
            color: rgb(198, 175, 202);
            text-decoration: darkmagenta;
        }
        ul{
            padding:0px;
            margin: 0px;
            display: inline-block;
            
        }