$lightplus:#F1F0E8;
$light:#E5E1DA;
$dark:#B3C8CF;
$darkplus:#89A8B2;

$theme-colors: (
  "lightplus":    $lightplus,
  "light":    $light,
  "dark_":    $dark,
  "darkplus":    $darkplus,
);

// @import '../node_modules/bootstrap/scss/variables';