.zahra {
    background-color: rgb(249,245,246);
    /* min-height: 60px; */
}
.menu_icon{
    margin-right: 5px;
}
.nabi {
    background-color: rgb(248,232,238);
    height: 300px;
}

.sec {
    min-height: 400px;
    padding: 50px 6% 50px 6%;
}

.mahya {
    background-color: rgb(249,245,246);
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}
.dokme{
    background-color: #f8e8ee;
    padding: 15px;
    width: 100px;
}
.dokme_matn{
    margin-left: 8px;
}
.mahya2 {
    background-color: rgb(248,232,238);
    min-height: 200px;
}

.yasmin {
    background-color: rgb(253,206,223);
    min-height: 100px;
}

.card {
    width: 350px;
    /* height: 200px; */
    background-color: rgb(242,190,209);
    padding: 10px;
}

.card_img {
    width: 350px;
    height: 250px
}
.card_list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.mahya3{
    background-color: rgb(242,190,209);;
}
.ğ˜¯ğ˜¦ğ˜¤ğ˜¬ğ˜­ğ˜¢ğ˜¤ğ˜¦{
    
    width:500px;
    /* height:770px; */
}
.yasmin{
    color: rgb(97, 93, 93);
    padding: 15px 6%;
    display:flex;
   justify-content: space-between;
}
ul{
    margin: 0%;
    padding: 0;
}
ul li{
    list-style: none;
    text-emphasis-color: black;
}
a{
    color: black;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
}
.zahra li{
   display: inline-block;
   padding: 10px;
}
