body{
    margin: 0;
}
ul{
    display: flex;
    justify-content: right;
}
ul>li{
    list-style: none;
    padding: 0 10px;
}
.menu{
    padding: 50px;
    text-decoration: none;
    display: inline-block;
}
.nanay{
    padding: 50px 9px;
    background-color: gold;
    color: honeydew;
    border-radius: 50%;
    background-image:;
}
.div{
    justify-content: space-between;
}
.bahar{
    text-align: center;
    margin: 90px 0 50px 0;
}
footer{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.box{
border: 1px solid rgb(78, 75, 75);
width: 300px;
margin: 20px auto;
border-radius: 20px;
display: flex;
align-items: center;
padding: 3px;
}
.img{
    width: 30px;
}
input{
    border: none;
    outline: none;
    width: 100%;
}
.btn{
    width:100px;
    padding: 5px;
}