ul{
display: flex;
justify-content: end;

}

ul>li{
list-style: none;
display: inline;
padding: 28px;


}

a{
display: inline-block;
text-decoration: none;
vertical-align: middle;

}

moz{
background-color: brown;
color: aquamarine;
border-radius: 50%;
padding: 10px 15px;
}

footer{
background-color: cadetblue;
display: flex;
justify-content: space-between;
padding: 0 20px;




}

